<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name</strong>
  <% unless @template.user.nil? %>
    <span style="padding-left:46px;"><strong>: </strong><%= @template.user.username %></span>
  <% else %>
    <span style="padding-left:46px;"><strong>: </strong><%= @template.user_id %></span>
  <% end -%>
</p>

<p>
  <strong>Item</strong>
  <% unless @template.item.nil? %>
    <span style="padding-left:123px;"><strong>: </strong><%= @template.item.name %></span>
  <% else %>
    <span style="padding-left:123px;"><strong>: </strong><%= @template.item_id %></span>
  <% end -%>
</p>

<p>
  <strong>Quantity</strong>
  <span style="padding-left:95px;"><strong>: </strong><%= @template.quantity %></span>
</p>

<p>
  <strong>Total (RM)</strong>
  <span style="padding-left:84px;"><strong>: </strong><%= @template.total %></span>
</p>

<p>
  <strong>Schedule Day</strong>
  <span style="padding-left:60px;"><strong>: </strong><%= @template.day %></span>
</p>

<p>
  <strong>Delivery Time</strong>
  <span style="padding-left:60px;"><strong>: </strong><%= @template.dtime.strftime("%I:%M %p") %></span>
</p>

<p>
  <strong>Chef Name</strong>
  <% if @users.exists?(@template.chef_id) %>
    <span style="padding-left:78px;"><strong>: </strong><%= @users.find(@template.chef_id).username %></span>
  <% else %>
    <span style="padding-left:78px;"><strong>: </strong><%= @template.chef_id %></span>
  <% end -%>
  
</p>

<p>
  <strong>Runner Name</strong>
  <% if @users.exists?(@template.runner_id) %>
    <span style="padding-left:60px;"><strong>: </strong><%= @users.find(@template.runner_id).username %></span>
  <% else %>
    <span style="padding-left:60px;"><strong>: </strong><%= @template.runner_id %></span>
  <% end -%>
  
</p>

<p>
  <strong>Status</strong>
  <span style="padding-left:108px;"><strong>: </strong><%= @template.status %></span>
</p>

<p>
  <strong>Note</strong>
  <span style="padding-left:120px;"><strong>: </strong><%= @template.note %></span>
</p>

<br>

<%= link_to 'Edit', edit_template_path(@template), class: "btn btn-info" %> |
<%= link_to 'Delete', @template, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> | 
<%= link_to 'Back', '/template', class: "btn btn-warning" %>


