
<%= simple_form_for user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :fullname %>
  <%= f.input :username %>
  <%= f.input :email %>
  <% if current_user.role.eql?('admin') %>
      <%= f.input :role, collection: [ "runner", "chef", "customer", "admin"], :include_blank => false %>
  <% end %>
  <%= f.input :phone, as: :numeric %>
  <%= f.input :address %>

  <p align="right"><%= f.button :submit, "Update", class: "btn btn-success" %> | | <%= link_to 'Back', '/', class: "btn btn-warning" %></p>
<% end %>

