<br>
<%= simple_form_for user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :fullname %>
  <%= f.input :username %>
  <%= f.input :email, placeholder: 'hint@example.com' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :role, :as => :hidden, :input_html => { :value => "customer" } %>
  <%= f.input :phone, as: :numeric %>
  <%= f.input :address %>

  <p align="right"><%= f.button :submit, "register", class: "btn btn-success" %></p>
<% end %>
