
<%= simple_form_for user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :fullname %>
  <%= f.input :username %>
  <%= f.input :email, placeholder: 'hint@example.com' %>
  <%= f.input :role, collection: ["customer", "chef", "runner"], :include_blank => false %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :phone, as: :numeric %>
  <%= f.input :address %>
  <p align="right"><%= f.button :submit, "Create User", class: "btn btn-success" %> | | <%= link_to 'Back', '/', class: "btn btn-warning" %></p>
<% end %>


