
<h2>Change Password</h2><br><br>

<%= simple_form_for :user, :url => '/update_password', html: { :method => :put, class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= hidden_field_tag "id", @user.id %>
  <p align="right"><%= f.button :submit, "Change Password", class: "btn btn-success" %> | | <%= link_to 'Back', '/', class: "btn btn-warning" %></p>
<% end %>


