<p id="notice"><%= notice %></p>

<h1>Our Product</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Note</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td>RM : <%= item.price %></td>
        <td><%= item.note %></td>
        <td><%= link_to 'Order', new_orderitem_path(item_id: item.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
   
<% if @stat == "true" %>
    <%= render "items/SelectedProduct" %>
<% end %>
