<p id="notice"><%= notice %></p>

<h2>Our Product</h2>
<br>

 <%= search_form_for @search, url: '/customer' do |f| %>
 <p align="right">
  <span style="padding-right:30px;">
    <%= f.label :name_cont, "Item Name" %>
    <%= f.text_field :name_cont %>
    <%= f.submit %>
  </span> 
 </p>
 <% end %>

 <br>

<table class="table">
  <thead>
    <tr class="info">
      <th></th>
      <th><%= sort_link @search, :name, "Name" %></th>
      <th><%= sort_link @search, :price, "Price" %></th>
      <th>Note</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.photo.url(:thumb) %></td>
        <td><%= item.name %></td>
        <td>RM : <%= item.price %></td>
        <td><%= item.note %></td>
        <td><%= link_to 'Order', new_orderitem_path(item_id: item.id), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @items %>

<br>
   
<% if @stat == "true" %>
    <%= render "items/SelectedProduct" %>
<% end %>
