<p id="notice"><%= notice %></p>

<% if @match.eql?('detail') %>

  <p>
    <strong>Fullname:</strong>
    <%= @user.fullname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  </br>
  <%= link_to 'Back', '/', class: "hollow button secondary" %>

<% else %>
  
  <p>
    <strong>Fullname:</strong>
    <%= @user.fullname %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  </br>
  <%= link_to 'Edit', edit_user_path(@user, yy: 'sayur'), class: "hollow button" %> |
  <%= link_to 'Change Password', edit_user_path(@user, yy: 'change'), class: "hollow button" %> |
  <%= link_to 'Back', '/', class: "hollow button secondary" %>

<% end %>
