<p id="notice"><%= notice %></p>

<% if @match.eql?('detail') %>

  <p>
    <strong>Fullname:</strong>
    <%= @user.fullname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  </br>
  <%= link_to 'Back', '/', class: "btn btn-warning" %>

<% else %>
  
  <p>
    <strong>Fullname:</strong>
    <%= @user.fullname %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role %>
  </p>

  <% if current_user.role.eql?('admin') %>
    <% if @user.role == "customer" %>
      <% if @find %>
        <p>
          <strong>Default Chef:</strong>
          <%= @users.find(@setchef).username %>
        </p>
        <p>
          <strong>Default Runner:</strong>
          <%= @users.find(@setrun).username %>
        </p>
      <% end -%>
    <% end -%>
  <% end -%>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @user.address %>
  </p>

  </br>
  <%= link_to 'Edit', edit_user_path(@user, yy: 'edit'), class: "btn btn-primary" %> |
  <% if current_user.role.eql?('admin') %>
    <% if @user.role == "customer" %>
      <% if @find %>
        <%= link_to 'Update Default', edit_setdefault_path(@setid, cust_id: @user.id), class: "btn btn-info" %> |
      <% else %>
        <%= link_to 'Set Default', new_setdefault_path(cust_id: @user.id), class: "btn btn-danger" %> |
      <% end -%>
    <% end -%>
  <% end -%>
  <%= link_to 'Back', '/', class: "btn btn-warning" %>

<% end %>