<p id="notice"><%= notice %></p>

<% if @match.eql?('detail') %>

  <p>
    <strong>Fullname</strong>
    <span style="padding-left:84px;"><strong>: </strong><%= @user.fullname %></span>
  </p>

  <p>
    <strong>Phone</strong>
    <span style="padding-left:102px;"><strong>: </strong><%= @user.phone %></span>
  </p>

  <p>
    <strong>Address</strong>
    <span style="padding-left:88px;"><strong>: </strong><%= @user.address %></span>
  </p>

  </br>
  <%= link_to 'Back', '/', class: "btn btn-warning" %>

<% else %>

  <p>
    <strong>Fullname</strong>
    <span style="padding-left:87px;"><strong>: </strong><%= @user.fullname %></span>
  </p>

  <p>
    <strong>Username</strong>
    <span style="padding-left:80px;"><strong>: </strong><%= @user.username %></span>
  </p>

  <p>
    <strong>Email</strong>
    <span style="padding-left:110px;"><strong>: </strong><%= @user.email %></span>
  </p>

  <p>
    <strong>Role</strong>
    <span style="padding-left:116px;"><strong>: </strong><%= @user.role %></span>
  </p>

  <% if current_user.role.eql?('admin') %>
    <% if @user.role == "customer" %>
      <% if @find %>
        <p>
          <strong>Default Chef</strong>
          <% if @users.exists?(@setchef) %>
            <span style="padding-left:64px;"><strong>: </strong><%= @users.find(@setchef).username %></span>
          <% else %>
            <span style="padding-left:64px;"><strong>: </strong><%= @setchef %></span>
          <% end -%>
        </p>
        <p>
          <strong>Default Runner</strong>
          <% if @users.exists?(@setrun) %>
            <span style="padding-left:46px;"><strong>: </strong><%= @users.find(@setrun).username %></span>
          <% else %>
            <span style="padding-left:46px;"><strong>: </strong><%= @setrun %></span>
          <% end -%>
        </p>
      <% end -%>
    <% end -%>
  <% end -%>

  <p>
    <strong>Phone</strong>
    <span style="padding-left:102px;"><strong>: </strong><%= @user.phone %></span>
  </p>

  <p>
    <strong>Address</strong>
    <span style="padding-left:88px;"><strong>: </strong><%= @user.address %></span>
  </p>

  </br>
  <%= link_to 'Edit', edit_user_path(@user, yy: 'edit'), class: "btn btn-primary" %> |
  <% if current_user.role.eql?('admin') %>
    <% if @user.role == "customer" %>
      <% if @find %>
        <%= link_to 'Update Default', edit_setdefault_path(@setid, cust_id: @user.id), class: "btn btn-info" %> |
      <% else %>
        <%= link_to 'Set Default', new_setdefault_path(cust_id: @user.id), class: "btn btn-danger" %> |
      <% end -%>
      <%= link_to 'Back', '/all_customer', class: "btn btn-warning" %></p>
    <% elsif @user.role == "chef" %>
      <%= link_to 'Back', '/all_chef', class: "btn btn-warning" %></p>
    <% elsif @user.role == "runner" %>
      <%= link_to 'Back', '/all_runner', class: "btn btn-warning" %></p>
    <% else %>
      <%= link_to 'Back', '/', class: "btn btn-warning" %></p>
    <% end -%>
  <% else %>
    <%= link_to 'Back', '/', class: "btn btn-warning" %></p>
  <% end %>
<% end %>