<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

</br>
<%= link_to 'Edit', edit_user_path(@user), class: "hollow button" %> |
<%  if current_user.role.eql?("admin") %>
  <%= link_to 'Back', users_path, class: "hollow button secondary" %>
<%  elsif current_user.role.eql?("customer") %>
  <%= link_to 'Back', '/customer', class: "hollow button secondary" %>
<% else %>

<% end %>
