
<%= simple_form_for orderitem, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :product, disabled: true, :input_html => {:value => @item.name} %>
  <%= f.input :price, disabled: true, :input_html => {:value => @item.price} %>
  <%= f.input :quantity %>
  <%= f.input :note %>
  <%= f.input :total, as: :hidden %>
  <%= f.input :status, as: :hidden, :input_html => {:value => "pre-order"} %>
  <%= f.input :item_id, as: :hidden, :input_html => {:value => @item.id} %>
  <%= f.input :user_id, as: :hidden, :input_html => {:value => current_user.id} %>
  <p align="right"><%= f.button :submit, "Order", class: "btn btn-success" %> | | <%= link_to 'Back', '/', class: "btn btn-warning" %></p>
<% end %>




