
<%= simple_form_for @orderitem do |f| %>
  <%= f.error_notification %>
  <%= f.input :user_id, :collection => @users.where(:role => "customer"), :label_method => :username, :value_method => :id, :include_blank => true, required: true, input_html: {class: "select2_to"} %>
  <%= f.association :item, :label_method => :name, :value_method => :id, :include_blank => true, required: true, input_html: {class: "select2_to"} %>
  <%= f.input :quantity, required: true %>
  <%= f.input :dtime, label: "Delivery Time ", as: :time %>
  <%= f.input :chef_id, :collection => @users.where(:role => "chef"), :label_method => :username, :value_method => :id, :include_blank => true, required: true, input_html: {class: "select2_to"} %>
  <%= f.input :runner_id, :collection => @users.where(:role => "runner"), :label_method => :username, :value_method => :id, :include_blank => true, required: true, input_html: {class: "select2_to"} %>
  <%= f.input :note %>
  <%= f.input :total, as: :hidden %>
  <%= f.input :status, as: :hidden, :input_html => {:value => "processing"} %>
  <%= f.input :current_user_id, as: :hidden, :input_html => {:value => current_user.id} %>
  
  <p align="right"><%= f.button :submit, "Order", class: "btn btn-success" %> | | <%= link_to 'Back', '/', class: "btn btn-warning" %></p>
<% end %>