<h2>Your Items</h2><br>

<%= simple_form_for :orderitem, :url => '/update_multiple', html: { :method => :put } do |f| %>
	<ul>
		<% for orderitem in @orderitems %>
		<li>
			<%= hidden_field_tag "orderitem_ids[]", orderitem.id %>
			<%= orderitem.item.name %>
		</li>
		<% end %>
	</ul>
	<br>

  <%= f.error_notification %>
  <%= f.input :totalprice, label: "Total Price", disabled: true, :input_html => { :value => @sum } %>
  <%= f.input :dtime, label: "Delivery Time", as: :time %>
  <%= f.input :status, as: :hidden, :input_html => {:value => "ordered"} %>
  <p align="right"><%= f.button :submit, "Make Order", class: "btn btn-success" %> | <%= link_to 'Back', '/customer', class: 'btn btn-warning' %></p>
<% end %>
