<h2>Your Items</h2><br>

<%= simple_form_for :orderitem, :url => '/update_cust_order', html: { :method => :put } do |f| %>
	<ul>
		<% for orderitem in @orderitems %>
		<li>
			<%= hidden_field_tag "orderitem_ids[]", orderitem.id %>
			<%= orderitem.item.name %>
			<% @stat = orderitem.status %>
		</li>
		<% end %>
	</ul>
	<br>

  <%= f.error_notification %>
  <% if @stat.eql?('ordered') || @stat.eql?('processing') %>
  	<%= f.input :runner_id, :collection => @users.where(:role => "runner"), :label_method => :username, :value_method => :id, :include_blank => false %>
  	<%= f.input :chef_id, :collection => @users.where(:role => "chef"), :label_method => :username, :value_method => :id, :include_blank => false %>
  <% else %>
  	<%= f.input :runner_id, :collection => @users.where(:role => "runner"), :label_method => :username, :value_method => :id, :include_blank => false %>
  <% end %>
  <p align="right"><%= f.button :submit, "Make Order", class: "btn btn-success" %> | <%= link_to 'Back', :back, class: 'btn btn-warning' %></p>
<% end %>
