<p id="notice"><%= notice %></p>

<h2>All Order Items</h2><br>

<table class="table">
  <thead>
    <tr class="info">
      <th>Quantity</th>
      <th>Note</th>
      <th>Total</th>
      <th>Status</th>
      <th>Item</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderitems.each do |orderitem| %>
      <tr>
        <td><%= orderitem.quantity %></td>
        <td><%= orderitem.note %></td>
        <td><%= orderitem.total %></td>
        <td><%= orderitem.status %></td>
        <td><%= orderitem.item %></td>
        <td><%= orderitem.user %></td>
        <td><%= link_to '', orderitem, class: 'glyphicon glyphicon-eye-open' %></td>
        <td><%= link_to '', edit_orderitem_path(orderitem), class: 'glyphicon glyphicon-pencil' %></td>
        <td><%= link_to '', orderitem, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p align="right"><%= link_to 'Back', '/', class: "btn btn-warning" %></p>
