<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @orderitem.quantity %>
</p>

<p>
  <strong>Note:</strong>
  <%= @orderitem.note %>
</p>

<p>
  <strong>Total:</strong>
  <%= @orderitem.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @orderitem.status %>
</p>

<p>
  <strong>Item:</strong>
  <%= @orderitem.item %>
</p>

<p>
  <strong>User:</strong>
  <%= @orderitem.user %>
</p>

| <%= link_to 'Back', url_for(:back), class: 'btn btn-warning' %> |
