
<%= simple_form_for item, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :photo, as: :file %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :note %>
  <p align="right"><%= f.button :submit, "Create Item", class: "btn btn-success" %> | | <%= link_to 'Back', '/items', class: "btn btn-warning" %></p>
<% end %>




