<h1>Selected Product</h1>

<%= form_tag('/edit_multiple', method: :post) %>
<table>
  <thead>
    <tr>
      <th> </th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Note</th>
      <th>Total</th>
      <th>time</th>
      <th>Status</th>
      <th>Item</th>
      <th>User</th>
      <th>Total Price</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderitems.each do |orderitem| %>
      <% if current_user == orderitem.user %>
        <% if orderitem.status.eql?("pre-order") %> 
        <tr>
          <td><%= check_box_tag "orderitem_ids[]", orderitem.id, checked: true %></td>
          <td><%= orderitem.item.name %></td>
          <td><%= orderitem.quantity %></td>
          <td><%= orderitem.note %></td>
          <td><%= orderitem.total %></td>
          <td><%= orderitem.dtime %></td>
          <td><%= orderitem.status %></td>
          <td><%= orderitem.user.username %></td>
          <td><%= orderitem.totalprice %></td>
          <td><%= link_to 'Edit', edit_orderitem_path(orderitem) %></td>
          <td><%= link_to 'Cancel', orderitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      
        <% end %>
      <% end %>
    <% end %>

  </tbody>
</table>
<%= submit_tag "Confirm Order" %>
