<p id="notice"><%= notice %></p>

<center><h2>Product</h2></center><br>

 <%= search_form_for @search do |f| %>
  <span style="padding-left:28px;">
    <%= f.label :name_cont, "Item Name" %>
    <%= f.text_field :name_cont %>
    <%= f.submit %>
  </span> 
  <span style="padding-left:530px;">
    <%= link_to 'New Item', new_item_path, class: "btn btn-primary" %>
  </span>
 <% end %>

 <br>

<table class="table">
  <thead>
    <tr class="info">
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Note</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.photo.url(:thumb) %></td>
        <td><%= item.name %></td>
        <td>RM : <%= item.price %></td>
        <td><%= item.note %></td>
        <td><%= link_to '', item, class: 'glyphicon glyphicon-eye-open' %></td>
        <td><%= link_to '', edit_item_path(item), class: 'glyphicon glyphicon-pencil' %></td>
        <td><%= link_to '', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @items %>

</br>
