<p id="notice"><%= notice %></p>
<h2>My Task</h2><br>

<!-- chef page  -->

<% if current_user.role.eql?('chef') %>

  <%= form_for :orderitem, :url => '/update_stask', :html => { :method => :put } do |f| %>
  <table class="table">
    <thead>
      <tr class="info">
        <th> </th>
        <th>Items</th>
        <th>Quantity</th>
        <th>Delivery Time</th>
        <th>Note</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @orderitems.each do |order| %>
        <% if current_user.id == order.chef_id && order.status.eql?('processing') %>  
        <tr>
      	  <td><%= check_box_tag "orderitem_ids[]", order.id %></td>
          <td><%= order.item.name %></td>
          <td><%= order.quantity %></td>
          <td><%= order.dtime %></td>
          <td><%= order.note %></td>
          <td><%= order.status %></td>
          <td><%= link_to 'Cancel' %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <p align="right"><%= f.submit "Complete", class: 'btn btn-primary' %> | <%= link_to 'Back', '/', class: 'btn btn-warning' %></p>
  <% end %>
<% end %>


<!-- runner page  -->


<% if current_user.role.eql?('runner') %>

  <%= form_for :orderitem, :url => '/update_stask', :html => { :method => :put } do |f| %>
  <table class="table">
    <thead>
      <tr class="success">
        <th> </th>
        <th>Items</th>
        <th>Quantity</th>
        <th>Delivery Time</th>
        <th>Note</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @orderitems.each do |order| %>
        <% if current_user.id == order.runner_id && order.status.eql?('delivering') %>  
        <tr>
      	  <td><%= check_box_tag "orderitem_ids[]", order.id %></td>
       	  <td><%= link_to order.user.username, user_path(order.user, dd: 'detail') %></td>
          <td><%= order.quantity %></td>
          <td><%= order.dtime %></td>
          <td><%= order.item.name %></td>
          <td><%= order.status %></td>
          <td><%= link_to 'Cancel' %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <p align="right"><%= f.submit "Complete", class: 'btn btn-primary' %> | <%= link_to 'Back', '/', class: 'btn btn-warning' %></p>
  <% end %>
<% end %>