<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @item.photo.url(:medium) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Note:</strong>
  <%= @item.note %>
</p>

</br>
<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-primary" %> |
<%= link_to 'Back', '/items', class: "btn btn-warning" %>
