<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Note:</strong>
  <%= @item.note %>
</p>

</br>
<%= link_to 'Edit', edit_item_path(@item), class: "hollow button" %> |
<%= link_to 'Back', '/', class: "hollow button secondary" %>
