<% if current_user.role.eql?('admin') %>
	<ul id="sidebar" class="nav nav-stacked affix">
		<li><%= link_to 'Dashboard', '/' %></li>
		<li><%= link_to 'Manage User', '/all_user' %></li>
		<li><%= link_to 'Products', items_path %></li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Order Items <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'All Order Items', orderitems_path %></li>
            <li><%= link_to 'Selected User', '/view_orderitem' %></li>
            <li><%= link_to 'Make Order', '/admin_order' %></li>
          </ul>
        </li>
		<li><%= link_to 'New Worker', new_user_path %></li>
		<li><%= link_to 'Schedule Orders', '/template' %></li>	
	</ul>
<% elsif current_user.role.eql?('runner') || current_user.role.eql?('chef') %>
	<ul id="sidebar" class="nav nav-stacked affix">
		<li><%= link_to 'My Task', '/my_task' %></li>
	</ul>
<% else %>
<ul id="sidebar" class="nav nav-stacked affix">
	<li><a href="/cust_order">My Order Item</a></li>
</ul>
<% end %>